#comLearnUpLeft {
    /* border: 1px solid black; */
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

/* #isstudyBtn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #BDD98E;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 2%;
} */