.navbar {
  top: 50%;
  position: fixed;
  left: 0;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  padding: 1rem;
  z-index: 1000;
  margin: auto 5%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i {
  color: white;
  font-size: 1.5rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-item {
  margin-right: 1rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links:hover {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .nav-menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    display: none;
    padding: 1rem;
  }
  .nav-menu.active {
    display: flex;
  }
  .nav-item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
