#learn_up {
    height: 10%;
    display: flex;
    width: 98%;
    flex-direction: row; /* 수평으로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
    /* justify-content: space-between; */
}

#learn_down {
    height: 100%;
}