/* .result_page {
    height: 100%;
} */

.result_page_donut_chart {
    width: 30%;
    aspect-ratio: 1;
    min-width: 30em;
    min-height: 30em;
    position: relative;
}

.pentagon {
    width: 15em;
    height: 15em;
    background-color: rgba(117, 138, 249, 0.5); /* 배경 색상 */
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result_page {
    background-color: #383737;
    min-height: 120%;
    width: 100%;
    height: auto;
}

.iconStructure {
    width: 14%;
    height: 14%;  
    z-index: 0;
    transition: all 0.3s ease;
}

.result_page .iconStructure:hover {
    width: 15%;
    height: 15%;
}

.result_page_line_chart {
    width: 50%;
    height: 100%;
    min-width: 30em;
    min-height: 20em;
    margin: auto;
}

.result_page_chart {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-width: 60em;
    margin: auto;
    height: 50%;
}

.result_page_desc_inner {
    width: 68%;
    height: 80%;
    margin: auto;
    min-height: 20%;
    border: solid 2px white;
    border-radius: 1em;
    font-size: 1em;
    color: white;
    padding: 3%;
    text-align: center;
    min-width: 60em 
}

.result_page_desc {
    width: 100%;
    height: 40%;
    margin-top: 3%;
}

.result_page_desc_inner .title_occ {
    font-size: 1.2em;
}